[Unit]
Description=Vector log exporter
After=network-online.target
Wants=network-online.target

[Container]
Image=docker.io/timberio/vector:latest-debian
ContainerName=vector
User=0:0
Volume=/etc/vector:/etc/vector:ro,z
Volume=/var/log/journal:/var/log/journal:ro,z
Volume=/run/log/journal:/run/log/journal:ro,z
Volume=/etc/machine-id:/etc/machine-id:ro,z
Exec=--config /etc/vector/vector.toml
Network=milvus.network
AutoUpdate=registry

[Service]
Restart=always

[Install]
WantedBy=multi-user.target default.target
