[Unit]
Description=Create Milvus required directories
Before=nginx.service
After=local-fs.target
RequiresMountsFor=/var

[Service]
Type=oneshot
ExecStart=/usr/bin/mkdir -p /var/log/nginx /var/lib/nginx/tmp/client_body /var/lib/nginx/tmp/proxy /var/lib/nginx/tmp/fastcgi /var/lib/nginx/tmp/uwsgi /var/lib/nginx/tmp/scgi
ExecStart=/usr/bin/touch /var/log/nginx/access.log /var/log/nginx/error.log
ExecStart=/usr/bin/chown -R nginx:nginx /var/log/nginx /var/lib/nginx
ExecStart=/usr/bin/chmod -R 755 /var/log/nginx /var/lib/nginx
ExecStart=/usr/sbin/restorecon -R /var/log/nginx /var/lib/nginx
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target
